html, * {
    font-family: 'Bungee';
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 60vmin;
    grid-template-rows: 10vmin 15vmin 60vmin 7vmin;
}

main * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Bungee Shade'; 
    flex-direction: row;
} 

.score {
   margin: 0;
   text-align: center;
   justify-self: center;
}

.counter {
    border: 2px solid black;
    border-radius: 1vmin;
    margin-left: 1vmin;
    padding: 1vmin 2vmin;
    font-size: 30px;
}

#photo {
    margin-top: 5vmin;
    width: 60vmin;
    border: 5px solid gray;
    background-color: black;
    justify-self: center;
}

#guess {
    display: flex;
    flex-direction: row;
}

input, .submit {
    border: 2px solid black;
    border-radius: 2vmin;
    padding: 10px;
}

.submit {
    margin-left: 1vmin;
    background-color: black;
    color: white;
}

section {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px 0;
}

.next {
    border: 2px solid lightgray;
    border-radius: 2vmin;
    background-color: lightgray;
    font: white;
    margin: 0;
}

.reset {
    border: 2px solid lightgray;
    border-radius: 2vmin;
    background-color: lightgray;
    font: white;
    margin: 0;
}

/* .next:hover {
    border: 2px solid black;
    border-radius: 50%;
    background-color: black;
    font: white;
} */