html, * {
    font-family: 'Helvetica';
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

main {
    display: grid;
    grid-template-columns: 50vmin;
    grid-template-rows: 10vmin 10vmin auto 10vmin;
}

main * {
    display: flex;
    justify-content: center;
    align-items: center;
  }

h1 {
    font-family: 'Bungee Shade';
}

.score {
   display: flex;
   flex-direction: row;
}

.counter {
    border: 2px solid black;
    border-radius: 1vmin;
    margin: 1vmin;
    padding: 0 1vmin;
}

div.img {
    padding: 5vmin;
    width: 75vmin;
    max-height: 75vmin;
}

.photo {
    width: 75vmin;
    border: 2px solid black;
}

#guess {
    display: flex;
    flex-direction: row;
}

input, main button {
    border: 2px solid black;
    border-radius: 2vmin;
    padding: 10px;
}

main button {
    margin: 1vmin;
    background-color: black;
    color: white;
}